<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TG Marquee Admin</title>
    <link rel="stylesheet" type="text/css" media='all' href="{{ url_for('static', filename='styles/admin.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <h1>Admin</h1>
    <form method="POST">
        <h2>Telegram API Configuration</h2>
        <label for="api_id">API ID:</label>
        <input type="text" name="api_id" value="{{ config[0] if config else '' }}" required><br><br>
        
        <label for="api_hash">API Hash:</label>
        <input type="text" name="api_hash" value="{{ config[1] if config else '' }}" required><br><br>
        
        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" value="{{ config[2] if config else '' }}" required><br><br>
        
        <label for="channel_id">Channel ID:</label>
        <input type="text" name="channel_id" value="{{ config[3] if config else '' }}" required><br><br>
        
        <h2>Marquee Settings</h2>
        <label for="scrollSpeed">Scroll Speed:</label>
        <input type="number" id="scrollSpeed" name="scrollSpeed" value="{{ config[4] if config else '' }}" min="10" step="10"><br><br>
        
        <label for="updateInterval">Update Interval (seconds):</label>
        <input type="number" id="updateInterval" name="updateInterval" value="{{ config[5] if config else '' }}" min="10" step="10"><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
